<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Menu</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Wom Resto</h1>
        <p>Rasakan kelezatan dalam setiap gigitan</p>
    </header>

    <section class="menu">
        <h2>Daftar Menu</h2>

        <div class="menu-item">
            <img src="/img/nasi-goreng.jpg" alt="Nasi Goreng" class="menu-image">
            <div class="menu-info">
                <span class="menu-name">Nasi Goreng</span>
                <p class="menu-desc">Nasi goreng dengan bumbu spesial dan tambahan telur mata sapi.</p>
                <span class="menu-price">Rp20,000</span>
            </div>
        </div>

        <div class="menu-item">
            <img src="/img/ayam-bakar.jpg" alt="Ayam Bakar" class="menu-image">
            <div class="menu-info">
                <span class="menu-name">Ayam Bakar</span>
                <p class="menu-desc">Ayam bakar dengan bumbu rempah khas dan sambal pedas.</p>
                <span class="menu-price">Rp25,000</span>
            </div>
        </div>

        <div class="menu-item">
            <img src="/img/soto-ayam.jpg" alt="Soto Ayam" class="menu-image">
            <div class="menu-info">
                <span class="menu-name">Soto Ayam</span>
                <p class="menu-desc">Soto ayam dengan kuah gurih dan pelengkap seperti telur dan perkedel.</p>
                <span class="menu-price">Rp18,000</span>
            </div>
        </div>

        <div class="menu-item">
            <img src="/img/ayam-goreng.jpeg" alt="Ayam Goreng" class="menu-image">
            <div class="menu-info">
                <span class="menu-name">Ayam Goreng</span>
                <p class="menu-desc">Ayam goreng renyah dengan bumbu tradisional yang meresap hingga ke dalam, disajikan
                    dengan sambal dan lalapan segar.</p>
                <span class="menu-price">Rp18,000</span>
            </div>
        </div>

        <div class="menu-item">
            <img src="/img/teh-tarik.jpg" alt="Teh Tarik" class="menu-image">
            <div class="menu-info">
                <span class="menu-name">Teh Tarik</span>
                <p class="menu-desc">Minuman penghilang dahaga saat haus</p>
                <span class="menu-price">Rp10,000</span>
            </div>
        </div>

        <button id="orderBtn">Buat Pesanan</button>
    </section>
</body>

</html>